<header class="ui-header">
  <div class="ui-header__row">
    <button class="ui-button ui-button--icon ui-drawer--handle" (click)="__global.drawer.open(__global.drawer)">
      <i class="material-icons">menu</i>
    </button>
    <span class="ui-header__title">Tunnel</span>
    <span class="ui-spacer"></span>
    <a href="#!/tunnel/null/create" class="ui-button ui-button--icon">
      <i class="material-icons">add</i>
    </a>
  </div>
</header>

<div class="ui-list">
  <template is="xin-repeat" items="[[tunnels]]" as="tunnel">
    <a class="ui-list__item" href="[[computeTunnelUrl(tunnel.id)]]">
      <span>[[tunnel.name]]</span>
      (<span>[[tunnel.bind]]</span> =&gt; <span>[[tunnel.$server]]</span>:<span>[[tunnel.port]]</span>)
      <span style="float: right">[[computeStatus(tunnel.status)]]</span>
    </a>
  </template>
</div>
